.slide-down{
  animation: slide-down .3s cubic-bezier(.645,.045,.355,1);
}
@keyframes slide-down {
  0%{
    max-height:0;
  }
  100%{
    max-height:auto;
  }
}
.slide-up{
  animation: slide-up .3s cubic-bezier(.645,.045,.355,1);
}
@keyframes slide-up {
  0%{
    max-height:auto;
  }
  100%{
    max-height:0;
  }
}

.fade-enter-active {
  animation: fade-in .3s;
}

.fade-leave-active {
  animation: fade-out .3s;
}

@keyframes fade-in {
  0% {
    transform: translate3d(0, -20px, 0);
    opacity: 0;
  }
  100% {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
}

@keyframes fade-out {
  0% {
    transform: translate3d(0, 0, 0);
    opacity: 1;
  }
  100% {
    transform: translate3d(0, -20px, 0);
    opacity: 0;
  }
}